@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

#body-login {
    background: rgb(70,34,80);
    background: radial-gradient(circle, rgba(70,34,80,1) 0%, rgba(49,59,114,1) 100%);
    padding: 20px;
    font-family: "Nunito", sans-serif;
}

#body-Cadastro {
    background: rgb(70,34,80);
    background: radial-gradient(circle, rgba(70,34,80,1) 0%, rgba(49,59,114,1) 100%);
    padding: 20px;
    font-family: "Nunito", sans-serif;
}

#h1-geral {
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 50px;
    font-weight: 1000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

body{
    background-color: rgb(140, 160, 215);
    font-family: "Nunito", sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.sobre {
    font-size: 20px;
    text-align: justify;
    margin-top: 80px;
    color: white;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
}

.navbar {
    background-color: #8CA0D7;
}

#barranav {
    background-color: rgb(49, 59, 114) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #8CA0D7;
    font-size: 20px;
}

.navbar-brand {
    font-size: 30px;
}

.form-login {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-cadastro {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#h1-cadastro {
    text-align: center;
    color: #462255;
    text-decoration: underline;
}

#h1-login {
    text-align: center;
    color: #462255;
    text-decoration: underline;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #462255;
    border-color: #462255;
}

.btn-primary:hover {
    background-color: #5f336d;
    border-color: #5f336d;
}

.form-text {
    color: #6c757d;
}

.active {
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 5px;
}

.titulo-menu {
    color: #8CA0D7;
    background: url('logo_dearbook.png')
}

.texto-com-retangulo {
    display: inline-block;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.biblioteca {
    margin-top: 80px;
    text-align: center;
}

.atualizar {
    margin-top: 80px;
    text-align: center;
}

.tabela {
    align-items: center;
}

.table {
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.table th, .table td {
    vertical-align: middle;
    text-align: center;
}

.table th {
    background-color: #343a40;
    color: #fff;
    border-color: #343a40;
}

.table td {
    background-color: #f8f9fa;
}

.btn {
    padding: 5px 10px;
    margin-right: 5px;
}

.div-cadastro {
    height: 150vh;
}

.form-atualizar {
    background-color: white;
}

img {
    max-width: 5%;
    max-height: 5%
}