<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/logo_dearbook.png">
</head>

<body id="body-login">
    <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
        <form class="form-login" action="/auth" method="post">
            <h1 id="h1-login">Login</h1>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                    placeholder="Insira o seu e-mail" required>
                <small id="emailHelp" class="form-text text-muted">Nós nunca compartilhamos seu e-mail.</small>
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" required>
            </div>
            Não possui uma conta? <a href="/cadastro">cadastre-se aqui!</a>
            <button type="submit" class="btn btn-primary btn-block" style="margin-top: 20px;">Entrar</button>
            {{#invalido}}
            <div class="alert alert-danger" style="margin-top: 5px;">
                E-mail ou senha inválidos!
            </div>
            {{/invalido}}

            {{#cadastrado}}
            <div class="alert alert-success" style="margin-top: 5px;">
                Cadastrado com sucesso!
            </div>
            {{/cadastrado}}

            {{#nao_logado}}
            <div class="alert alert-danger" style="margin-top: 5px;">
                Faça login para acessar a página!
            </div>
            {{/nao_logado}}
        </form>
    </div>
</body>

</html>